.logout {
  float: right;
  font-family: impact;
  color: #33ccff;}

#history_header {
  font-size: 50px;
  color: #33ccff;
  text-align: center;
  font-family: impact;
  margin: 5px;
  text-shadow: 2px 2px #000000;
}

#home {
  color: white;
}

#schedule {
  color: white;
}

#history {
  color: white;
}

#settings {
  color: white;
}

.tabBar {
  background-color: white;
}

.home {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.schedule {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.history {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.settings {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr
}
