.logout {
  float: right;
  font-family: impact;
  color: #33ccff;
}

#app_name {
  font-size: 100px;
  color: #33ccff;
  text-align: center;
  font-family: impact;
  margin: 5px;
  text-shadow: 2px 2px #000000
}

#water {
  font-size: 25px;
  text-align: center;
  font-family: impact;
  margin: 20px;
  color: #33ccff;
}

#home {
  color: white;
}

#schedule {
  color: white;
}

#history {
  color: white;
}

#settings {
  color: white;
}

body {
  background-image: url(https://www.uiwater.com/images/default-source/utilities-basic/buisness-units/florida/waterdorp.png?sfvrsn=2);
  background-size: cover;
}

.tabBar {
  background-color: white;
}

.home {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.schedule {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.history {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.settings {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr
}

.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
}
