.logout {
  float: right;
}

.tabBar {
  background-color: white;
}

.home {
  background-color: turquoise;
  border: white;
  border-radius: 10px;
  margin: 5px;
}

.schedule {
  background-color: turquoise;
  border: white;
  border-radius: 10px;
  margin: 5px;
}

.history {
  background-color: turquoise;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-style: bold
}

.settings {
  background-color: turquoise;
  border: white;
  border-radius: 10px;
  margin: 5px;
}

.container {
  display: grid
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr
}
