ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #000099;
    text-align: center;
    border-radius: 20px;
}

li {
  float: left;
  border-right: 1px solid #ffffff;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: tahoma;
  font-size: 20px;
}


li a:hover {
  background-color: #4d79ff;
}

#schedule_header {
  font-size: 50px;
  color: #81c1fc;
  text-align: left;
  font-family: tahoma;
  margin: 5px;
  text-shadow: 3px 3px #d6e0f5;
}

body {
  border: 15px solid #d6e0f5;
  padding: 10px;
  outline: 10px solid #ffffff;
  background-image: url(http://www.chrisnuzzaco.com/couch/uploads/image/gallery/water_wave_white_background.jpg);
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr
}

.titles {
  font-size: 30px;
  font-family: tahoma;
  color: #81c1fc;
  text-shadow: 3px 3px #d6e0f5;
}

.weather {
  text-align: center;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid gray;
  margin-bottom: 70px;
  margin-right: 30px;
}

#temp {
    font-size: 15px;
    font-family: tahoma;
    color: #000099;
}

#condition {
  font-size: 25px;
  font-family: tahoma;
  color: #000099;
}

#pic {
  image-resolution: 200px;
}

#checkboxes {
  font-size: 25px;
  font-family: tahoma;
  color: #000099;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid gray;
  text-align: center;
  margin-right: 250px;
  margin-top: 15px;
  margin-bottom: auto;
}
