.logout {
  float: right;
  font-family: impact;
  color: #33ccff;
}

#schedule_header {
  font-size: 50px;
  color: #33ccff;
  text-align: center;
  font-family: impact;
  margin: 5px;
  text-shadow: 2px 2px #000000;
}

#home {
  color: white;
}

#schedule {
  color: white;
}

#history {
  color: white;
}

#settings {
  color: white;
}

.tabBar {
  background-color: white;
}

.home {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.schedule {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.history {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.settings {
  background-color: #33ccff;
  border: white;
  border-radius: 10px;
  margin: 5px;
  font-size: 30px;
  text-align: center;
  font-family: impact;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr
}

.wrapper2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr
}

.weather {
  text-align: center;
}

.titles {
  color: black;
  font-size: 30px;
  font-family: impact;
}

#temp {
  color: #33ccff;
  font-size: 15px;
  font-family: impact;
}

#condition {
  color: #33ccff;
  font-size: 20px;
  font-family: impact;
}

#pic {
  image-resolution: 200px;
}

#checkboxes {
  font-size: 20px;
  font-family: impact;
  color: #33ccff;
  margin-left: 20px;
}
