<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/aboutus.css"></link>
  </head>
<body>
  <h1 id="aboutus_header">About Us</h1>
  <ul>
    <li><a href="/" id="home">Home</a></li>
    <li><a href="/schedule" id="schedule">Schedule</a></li>
    <li><a href="/history" id="history">History</a></li>
    <li><a href="/settings" id="settings">Settings</a></li>
    <li><a href="/aboutus" id="aboutus">About Us</a></li>
  </ul>
  <div class="wrapper">
    <div id="nicole">
      <h1 class="name">Nicole Wojnowski</h1>
      <img id="nicolepic" src="https://scontent-ort2-1.xx.fbcdn.net/v/t31.0-8/26232067_419424788475625_75241671878238976_o.jpg?_nc_cat=0&oh=f098937b22f28ac14663b59caac47f63&oe=5C0AEECB"/>
      <h1 class="name">Nicole</h1>
      <p>Nicole enjoys long bike rides on the beach. She will be attending the University of Pennsylvania in the fall and will be studying Bioengineering with a Computer Science minor. She has often stated that her spirit animal is an old lady, as her favorite hobbies include knitting, sewing, and baking.</p>
    </div>
    <div id="david">
      <h1 class="name">David Rodriguez</h1>
      <p>This is David</p>
    </div>
    <div id="isaac">
      <h1 class="name">Isaac Stinnette</h1>
      <p>Isaac recently graduated from St.Ignatius college prep. He loves to listen to and create music and will be attending Hampton University this fall studying computer science/cyber security. </p>
    </div>
    <div id="sydney">
      <h1 class="name">Sydney Fleishman</h1>
      <img id="sydneypic" src="https://mail.google.com/mail/u/1/?ui=2&ik=99947f268a&view=fimg&th=16427f037f2195fa&attid=0.1.1&disp=emb&attbid=ANGjdJ-WTnZX9dublFE8tKzVAVXB9nSx4eiWrhKcoSvQu3CMGU6m2MR2Oeqp7TY3WwdDBN7wEPlxoFFj9GANZb8895U5w5km7yprZlyEyexVQQebj02TdPOuvWopRO8&sz=s0-l75-ft&ats=1532623370778&rm=16427f037f2195fa&zw&atsh=1" />
      <p>Sydney recently graduated from Deerfield High School. She will attend Vanderbilt University in the fall and is planning on studying Neuroscience. She loves to play and watch sports, travel, and spend time with friends, family, and dog.</p>
    </div>
  </div>
</body>

</html>
