<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/aboutus.css"></link>
  </head>
<body>
  <h1 id="aboutus_header">About Us</h1>
  <ul>
    <li><a href="/" id="home">Home</a></li>
    <li><a href="/schedule" id="schedule">Schedule</a></li>
    <li><a href="/history" id="history">History</a></li>
    <li><a href="/settings" id="settings">Settings</a></li>
    <li><a href="/aboutus" id="aboutus">About Us</a></li>
  </ul>
  <div class="wrapper">
    <div id="nicole">
      <img id="nicolepic" src="https://scontent-ort2-1.xx.fbcdn.net/v/t31.0-8/26232067_419424788475625_75241671878238976_o.jpg?_nc_cat=0&oh=f098937b22f28ac14663b59caac47f63&oe=5C0AEECB"/>
      <h1 class="name">Nicole</h1>
      <p>Hello! My name is Nicole and I like long bike rides on the beach.</p>
    </div>
    <div id="david">
      <h1 class="name">David</h1>
      <p>This is David</p>
    </div>
    <div id="isaac">
      <h1 class="name">Isaac</h1>
      <p>This is Isaac</p>
    </div>
    <div id="sydney">
      <h1 class="name">Sydney</h1>
      <p>This is Sydney</p>
    </div>
  </div>
</body>

</html>
