<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/aboutus.css"></link>
  </head>
<body>
  <h1 id="aboutus_header">About Us</h1>
  <ul>
    <li><a href="/" id="home">Home</a></li>
    <li><a href="/schedule" id="schedule">Schedule</a></li>
    <li><a href="/history" id="history">History</a></li>
    <li><a href="/settings" id="settings">Settings</a></li>
    <li><a href="/aboutus" id="aboutus">About Us</a></li>
  </ul>
  <div class="wrapper">
    <div id="nicole">
      <h1 class="name">Nicole</h1>
      <p>This is Nicole</p>
    </div>
    <div id="david">
      <h1 class="name">David</h1>
      <p>This is David</p>
    </div>
    <div id="isaac">
      <h1 class="name">Isaac</h1>
      <p>This is Isaac</p>
    </div>
    <div id="sydney">
      <h1 class="name">Sydney</h1>
      <img id="sydneypic" src="https://mail.google.com/mail/u/1/?ui=2&ik=99947f268a&view=fimg&th=16427f037f2195fa&attid=0.1.1&disp=emb&attbid=ANGjdJ-WTnZX9dublFE8tKzVAVXB9nSx4eiWrhKcoSvQu3CMGU6m2MR2Oeqp7TY3WwdDBN7wEPlxoFFj9GANZb8895U5w5km7yprZlyEyexVQQebj02TdPOuvWopRO8&sz=s0-l75-ft&ats=1532623370778&rm=16427f037f2195fa&zw&atsh=1" />
      <p>This is Sydney</p>
    </div>
  </div>
</body>

</html>
