<html>

  <head>
    <title>History</title>
    <link rel="stylesheet" href="/static/history.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="/static/script.js"></script>
    <h1 id="history_header">History</h1>
    <div class="wrapper">
      <div class="tabBar home">
        <p><a href="/" id="home">Home</a></p>
      </div>
      <div class="tabBar schedule">
        <p><a href="/schedule" id="schedule">Schedule</a></p>
      </div>
      <div class="tabBar history">
        <p><a href="/history" id="history">History</a></p>
      </div>
      <div class="tabBar settings">
      <p><a href="/settings" id="settings">Settings</a></p>
      </div>
    </div>
  </body>

</html>
