<html>

  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="script.js"></script>
    <h1 id='app_name'>APP NAME</h1>
    <div class="wrapper">
      <div class="tabBar home">
        <p><a href id="home"="/">Home</a></p>
      </div>
      <div class="tabBar schedule">
        <p><a href id="schedule"="/schedule">Schedule</a></p>
      </div>
      <div class="tabBar history">
        <p><a href id="history"="/history">History</a></p>
      </div>
      <div class="tabBar settings">
      <p><a href id="settings"="/settings">Settings</a></p>
      </div>
    </div>
    <div id="water">
      <p>Your goal is % cups of water.</p>
      <p>You have drank % cups of water.</p>
      <p>You need % more cups of water to reach your goal.</p>
    </div>
    <div>
      <p>Your Total H2O Points: %</p>
    </div>
  </body>

</html>
