<html>

  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="script.js"></script>
    <h1>APP NAME</h1>
    <div class="wrapper">
      <div class="tabBar home">
        <p>Home</p>
      </div>
      <div class="tabBar schedule">
        <p>Schedule</p>
      </div>
      <div class="tabBar history">
        <p>History</p>
      </div>
      <div class="tabBar settings">
      <p>Settings</p>
      </div>
    </div>
  </body>

</html>
