<html>

  <head>
    <title>Schedule</title>
    <link rel="stylesheet" href="schedule.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="script.js"></script>
    <h1>Schedule</h1>
    <form action="/script.js" method="get">
      <input type="checkbox" name="amt" value = 16> I have drank 16oz by %s%s<br>
      <input type="checkbox" name="amt" value= 16 > I have a car<br>
      <input type="submit" value="Update">
    </form>
  <p> The weather is</p>
  </body>

</html>
