<html>

  <head>


      <link rel="stylesheet" href="/static/schedule.css">
      <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src = "/static/api.js"></script>
      <script src = "/static/schedule.js"></script>
      <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->

  </head>

  <body>
    <h1 id="schedule_header">Schedule</h1>
    <ul>
      <li><a href="/" id="home">Home</a></li>
      <li><a href="/schedule" id="schedule">Schedule</a></li>
      <li><a href="/history" id="history">History</a></li>
      <li><a href="/settings" id="settings">Settings</a></li>
      <li><a href="/aboutus" id="aboutus">About Us</a></li>
    </ul>
    <div class="wrapper">
      <div id="checkboxes">
        <h1 class="titles">Your Daily Schedule: </h1>
        <h5>Date: </h5>
          <p id="date"></p>
        <form method="post">
          {% for i in range(0, amtWater) %}
            <input type='checkbox'><br>I drank {{ounces}} oz by {{x[i]}}<br>
          {% endfor %}
          <input type="submit" id="submit" value="Update">
        </form>
      </div>
      <div class="weather">
        <h1 class="titles">Today's Weather: </h1>
        <div id="temp"></div>
        <div id="condition"></div>
        <div id="pic"></div>
      </div>
    </div>
  </body>


</html>
