<html>

  <head>
    <title>Schedule</title>
    <link rel="stylesheet" href="schedule.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="script.js"></script>
    <h1>Schedule</h1>
    <form action="/script.js" method="get">
      {% for num in range({{amtOfTimes}}) %}
        <input type="checkbox" name="amt" value = {{incWater}}> I have drank {{incWater}}oz by {{time}}{{meridiem}}<br>
      {% endfor %}
    </form>
  <p> The weather is</p>
  </body>

</html>
