<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/settings.css"></link>
  </head>

  <body>
    <script src="/static/settings.js"></script>
    <h1 id="settings_header">Settings</h1>
    <ul class="tabBar">
      <li><a href="/" id="home">Home</a></li>
      <li><a href="/schedule" id="schedule">Schedule</a></li>
      <li><a href="/history" id="history">History</a></li>
      <li><a href="/settings" id="settings">Settings</a></li>
      <li><a href="/aboutus" id="aboutus">About Us</a></li>
    </ul>
    <form method="post" id="editUserPreferences">
      <div>Name: <input type='text' name="name" value='{{userName}}'></div>
      <div>Age: <input type='text' name="age" value='{{userAge}}'></div>
      <div>Height: <input type='text' name="height" value='{{userHeight}}'></div>
      <div>Weight: <input type='text' name="weight" value='{{userWeight}}'></div>
      <div>Water Goal: <input type='text' name="totalWater" value='{{userWaterGoal}}'></div>
      <div>Number of Reminder Times: <select id="reminder"name = "incWater" onchange="showReminderTimes(this.value)">
          <option value="1" {% if numberReminderTimes == 1 %}selected="selected"{% endif %}>1</option>
          <option value="2" {% if numberReminderTimes == 2 %}selected="selected"{% endif %}>2</option>
          <option value="3" {% if numberReminderTimes == 3 %}selected="selected"{% endif %}>3</option>
          <option value="4" {% if numberReminderTimes == 4 %}selected="selected"{% endif %}>4</option>
          <option value="5" {% if numberReminderTimes == 5 %}selected="selected"{% endif %}>5</option>
          <option value="6" {% if numberReminderTimes == 6 %}selected="selected"{% endif %}>6</option>
          <option value="7" {% if numberReminderTimes == 7 %}selected="selected"{% endif %}>7</option>
          <option value="8" {% if numberReminderTimes == 8 %}selected="selected"{% endif %}>8</option>
          <option value="9" {% if numberReminderTimes == 9 %}selected="selected"{% endif %}>9</option>
          <option value="10" {% if numberReminderTimes == 10 %}selected="selected"{% endif %}>10</option>
          <option value="11" {% if numberReminderTimes == 11 %}selected="selected"{% endif %}>11</option>
          <option value="12" {% if numberReminderTimes == 12 %}selected="selected"{% endif %}>12</option>
      </select>
      </div>
      <div id="reminderTimes">
        <div>Reminder Time 1: <input type='text' name="reminderTime1" value='{{reminderTime1}}'></div>
        <div>Reminder Time 2: <input type='text' name="reminderTime2" value='{{reminderTime2}}'></div>
        <div>Reminder Time 3: <input type='text' name="reminderTime3" value='{{reminderTime3}}'></div>
        <div>Reminder Time 4: <input type='text' name="reminderTime4" value='{{reminderTime4}}'></div>
        <div>Reminder Time 5: <input type='text' name="reminderTime5" value='{{reminderTime5}}'></div>
        <div>Reminder Time 6: <input type='text' name="reminderTime6" value='{{reminderTime6}}'></div>
        <div>Reminder Time 7: <input type='text' name="reminderTime7" value='{{reminderTime7}}'></div>
        <div>Reminder Time 8: <input type='text' name="reminderTime8" value='{{reminderTime8}}'></div>
        <div>Reminder Time 9: <input type='text' name="reminderTime9" value='{{reminderTime9}}'></div>
        <div>Reminder Time 10: <input type='text' name="reminderTime10" value='{{reminderTime10}}'></div>
        <div>Reminder Time 11: <input type='text' name="reminderTime11" value='{{reminderTime11}}'></div>
        <div>Reminder Time 12: <input type='text' name="reminderTime12" value='{{reminderTime12}}'></div>
      </div>
      <div><input type="submit"></div>
    </form>
  </body>

</html>
