<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/settings.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="/static/script.js"></script>
    <h1 id="settings_header">Settings</h1>
    <div class="wrapper">
      <div class="tabBar home">
        <p><a href="/" id="home">Home</a></p>
      </div>
      <div class="tabBar schedule">
        <p><a href="/schedule" id="schedule">Schedule</a></p>
      </div>
      <div class="tabBar history">
        <p><a href="/history" id="history">History</a></p>
      </div>
      <div class="tabBar settings">
      <p><a href="/settings" id="settings">Settings</a></p>
      </div>
    </div>
    <div>
      <table>
        <tr>
            <td>Name:</td>
            <td>Person</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>18</td>
        </tr>
        <tr>
          <td>Height:</td>
          <td>5 ft 6 in</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>150 lbs</td>
        </tr>
        <tr>
          <td>Water Goal:</td>
          <td>72 oz</td>
        </tr>
        <tr>
          <td>Number of Reminders:</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Reminder Time 1:</td>
          <td>9 am</td>
        </tr>
        <tr>
          <td>Reminder Time 2:</td>
          <td>12 pm</td>
        </tr>
        <tr>
          <td>Reminder Time 3:</td>
          <td>4 pm</td>
        </tr>
      </table>

    <form>
      <div>Name: <input type='text' name="name" value='{{userName}}'></div>
      <div>Age: <input type='text' name="age" value='{{userAge}}'></div>
      <div>Height: <input type='text' name="height" value='{{userHeight}}'></div>
      <div>Weight: <input type='text' name="weight" value='{{userWeight}}'></div>
      <div>Water Goal: <input type='text' name="water_goal" value='{{userWaterGoal}}'></div>
      <div>Number of Reminder Times: <select id="reminder"name = "numberReminderTimes" onchange="showReminderTimes(this.value)">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
      </select>
      </div>
      <div id="reminderTimes">
        <div id="inputs">Reminder Time 1: <input type='text' name="reminderTime1" value='{{reminderTime1}}'></div>
        <div id="inputs">Reminder Time 2: <input type='text' name="reminderTime2" value='{{reminderTime2}}'></div>
        <div id="inputs">Reminder Time 3: <input type='text' name="reminderTime3" value='{{reminderTime3}}'></div>
        <div id="inputs">Reminder Time 4: <input type='text' name="reminderTime4" value='{{reminderTime4}}'></div>
        <div id="inputs">Reminder Time 5: <input type='text' name="reminderTime5" value='{{reminderTime5}}'></div>
        <div id="inputs">Reminder Time 6: <input type='text' name="reminderTime6" value='{{reminderTime6}}'></div>
        <div id="inputs">Reminder Time 7: <input type='text' name="reminderTime7" value='{{reminderTime7}}'></div>
        <div id="inputs">Reminder Time 8: <input type='text' name="reminderTime8" value='{{reminderTime8}}'></div>
        <div id="inputs">Reminder Time 9: <input type='text' name="reminderTime9" value='{{reminderTime9}}'></div>
        <div id="inputs">Reminder Time 10: <input type='text' name="reminderTime10" value='{{reminderTime10}}'></div>
        <div id="inputs">Reminder Time 11: <input type='text' name="reminderTime11" value='{{reminderTime11}}'></div>
        <div id="inputs">Reminder Time 12: <input type='text' name="reminderTime12" value='{{reminderTime12}}'></div>
      </div>
      <div><input type="submit"></div>
    </form>
  </body>

</html>
