<html>

  <head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/settings.css"></link>
  </head>

  <body>
    <a class="logout" href="{{logoutUrl}}">Log Out</a>
    <script src="/static/script.js"></script>
    <h1 id="settings_header">Settings</h1>
    <div class="wrapper">
      <div class="tabBar home">
        <p><a href="/" id="home">Home</a></p>
      </div>
      <div class="tabBar schedule">
        <p><a href="/schedule" id="schedule">Schedule</a></p>
      </div>
      <div class="tabBar history">
        <p><a href="/history" id="history">History</a></p>
      </div>
      <div class="tabBar settings">
      <p><a href="/settings" id="settings">Settings</a></p>
      </div>
    </div>
    <div>
      <table>
        <tr>
            <td>Name:</td>
            <td>Person</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>18</td>
        </tr>
        <tr>
          <td>Height:</td>
          <td>5 ft 6 in</td>
        </tr>
        <tr>
          <td>Weight:</td>
          <td>150 lbs</td>
        </tr>
        <tr>
          <td>Water Goal:</td>
          <td>72 oz</td>
        </tr>
        <tr>
          <td>Number of Reminders:</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Reminder Time 1:</td>
          <td>9 am</td>
        </tr>
        <tr>
          <td>Reminder Time 2:</td>
          <td>12 pm</td>
        </tr>
        <tr>
          <td>Reminder Time 3:</td>
          <td>4pm</td>
        </tr>
      </table>

    <form>
      <div>Name: <input type='text' name="name" value='{{userName}}'></div>
      <div>Age: <input type='text' name="age" value='{{userAge}}'></div>
      <div>Height: <input type='text' name="height" value='{{userHeight}}'></div>
      <div>Weight: <input type='text' name="weight" value='{{userWeight}}'></div>
      <div>Water Goal: <input type='text' name="water_goal" value='{{userWaterGoal}}'></div>
      <div>Number of Reminder Times: <select name = "Number of Reminder Times">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
      </select>
      </div>
      <div><input type="submit"></div>
    </form>
  </body>

</html>
